# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc

# Data ----
data/data-grid/
data/data-raw/
data/data-format/*.geojson
data/data-format/*.csv
data/data-format/*.tif
data/data-integrated/*.geojson
data/data-integrated/*.csv
data/data-integrated/*.tif
data/data-basemap/*.geojson
figures/
